
Final Project/Temp/UnityLockfile
Final Project/Temp/workerlic
Final Project/Library/Artifacts
Final Project/Library/BurstCache/JIT/CacheManifest.json
Final Project/Library/BurstCache/JIT/CacheManifest.json
Final Project/Library/BurstCache/JIT/CacheManifest.json
Final Project/Logs/shadercompiler-UnityShaderCompiler.exe9.log
Final Project/Logs/shadercompiler-UnityShaderCompiler.exe8.log
Final Project/Logs/shadercompiler-UnityShaderCompiler.exe7.log
Final Project/Logs/shadercompiler-UnityShaderCompiler.exe6.log
Final Project/Logs/shadercompiler-UnityShaderCompiler.exe5.log
Final Project/Logs/shadercompiler-UnityShaderCompiler.exe4.log
Final Project/Logs/shadercompiler-UnityShaderCompiler.exe3.log
Final Project/Logs/shadercompiler-UnityShaderCompiler.exe2.log
Final Project/Logs/shadercompiler-UnityShaderCompiler.exe11.log
Final Project/Logs/shadercompiler-UnityShaderCompiler.exe10.log
Final Project/Logs/shadercompiler-UnityShaderCompiler.exe1.log
Final Project/Logs/shadercompiler-AssetImportWorker0.log
Final Project/Logs/AssetImportWorker0.log
Final Project/Library/StateCache/SceneView/8c/8cd7c613bf844de3b80696e27a479d5e.json
Final Project/Library/StateCache/MainStageHierarchy/4d/4d2a36d9faf65734f0bbefb3ee623532.json
Final Project/Library/SourceAssetDB
Final Project/Library/LastSceneManagerSetup.txt
Final Project/Library/expandedItems
Final Project/Library/EditorInstance.json
Final Project/Library/CurrentLayout-default.dwlt
Final Project/Library/BurstCache/JIT/CacheManifest.json
Final Project/Logs/shadercompiler-UnityShaderCompiler.exe9.log
Final Project/Library/ArtifactDB
Final Project/Library/SourceAssetDB
Final Project/Logs/AssetImportWorker0.log
Final Project/Logs/shadercompiler-UnityShaderCompiler.exe0.log
